*{
  margin: 0;
  padding: 0;
}
html,
body {
  -webkit-tap-highlight-color: transparent;
}
body{
}
/*适配代码*/
html{
  /*代表了100px=1rem*/
  font-size: 13.33333rem;
}
/*防止大屏字体过大*/
@media(min-width:750px){
  html{
  font-size: 10px ;
      }
}
/*返回+在线考试*/
.head {
  width: 100%;
  height: 45px;
  background-color: white;
}
.head img{
  width: 23px;
  height: 23;
  margin-left: 15px;
  position: absolute;
  top: 10px;
}
.head p{
  color :black ;
  font-size: 19px;
  margin-left: 145px;
  position: absolute;
  top: 10px;
}
/*上*/
.calendar{
  width :100%;
  height:130px;
  background-color:white;
}
.calendar p{
  font-size: 17px;
  color:#888888;
  position: absolute;
  top: 120px;
  left: 150px;
}
 .calendar img {
  width: 60px;
  height: 60px;
  left: 150px;
  position: absolute;
  top: 55px;
}
/*下*/
.studycenter p{
  font-size: 18px;
  color :black ;
  position: absolute;
  left: 15px;
  top: 180px;
}
.studycenter img{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 290px;
  top: 180px;
}
.choose p{
    font-size: 16px;
    color:#888888;
    position: absolute;
   top: 180px;
  left: 313px;
}
/*无*/
.nothing img{
  width: 150px;
  height :150px;
  position: absolute;
  top: 245px;
  left: 105px;
}
.nothing p{
      font-size: 16px;
      color:#888888;
      position: absolute;
      top: 390px;
      left: 130px;
}