*{
  margin: 0;
  padding: 0;
}
html,
body {
  -webkit-tap-highlight-color: transparent;
}
body{
  background-color: white;
}
/*适配代码*/
html{
  /*代表了100px=1rem*/
  font-size: 13.33333rem;
}
/*防止大屏字体过大*/
@media(min-width:750px){
  html{
  font-size: 10px ;
      }
}
/*返回+在线考试*/
.head {
  width: 100%;
  height: 45px;
  background-color: white;
}
.head img{
  width: 23px;
  height: 23;
  margin-left: 12px;
  position: absolute;
  top: 10px;
}
.head p{
  color :black ;
  font-size: 19px;
  margin-left: 95px;
  position: absolute;
  top: 10px;
}
.connect img{
  width :100%;
  height: 300px;
}
/*本文是否对你有帮助*/
.help {
  width:90%;
  height:120px;
  background-color:white;
  margin-top:-35px;
  margin-left:18px;
  margin-bottom :15px;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
}
.help h1{
  font-size:16px;
  color :#59595C;
  margin-top: 20px;
  margin-left: 90px;
}
.yes {
  width: 90px;
  height :30px;
  border-radius: 20px;
  border: 1px solid #3890FE;
  background-color: white;
  margin-left: 65px;
  margin-top: 10px;
}
.yes p{
  font-size: 15px;
  color: #3890FE;
  margin-left: 37px;
  margin-top: 3px;
}
.no {
  width: 90px;
  height :30px;
  border-radius: 20px;
  border: 1px solid #3890FE;
  background-color: white;
  margin-left: 165px;
  margin-top: -32.5px;
}
.no p{
  font-size: 15px;
  color: #3890FE;
  margin-left: 37px;
  margin-top: 3px;
}