*{
  margin: 0;
  padding: 0;
}
html,
body {
  -webkit-tap-highlight-color: transparent;
}
body{
    background-color: #F4F5F7;
}
/*适配代码*/
html{
  /*代表了100px=1rem*/
  font-size: 13.33333rem;
}
/*防止大屏字体过大*/
@media(min-width:750px){
  html{
  font-size: 10px ;
      }
}
/*返回+在线考试*/
.head {
  width: 100%;
  height: 45px;
  background-color: white;
}
.head img{
  width: 23px;
  height: 23;
  margin-left: 15px;
  position: absolute;
  top: 10px;
}
.head p{
  color :black ;
  font-size: 19px;
  margin-left: 148px;
  position: absolute;
  top: 10px;
}
/*内容*/
.connect {
  width: 100%;
  height: 605px;
  margin-top: 10px;
  background-color: white;
}
.connect img{
  width: 55px;
  height: 55px;
}
.connect p{
  color:#888888;
  font-size:14px;
}
/*语文*/
.Chinese img {
  position: absolute;
  top: 90px;
  left: 55px;
}
.connect p{
  position: absolute;
  top: 150px;
  left: 68px;
}
/*数学*/
.math img {
  position: absolute;
  top: 90px;
  left: 160px;
}
.math p{
  position: absolute;
  top: 150px;
  left: 175px;
}
/*英语*/
.english img {
  position: absolute;
  top: 90px;
  left: 260px;
}
.english p{
  position: absolute;
  top: 150px;
  left: 273px;
}
/*物理*/
.physical img {
  position: absolute;
  top: 215px;
  left: 55px;
}
.physical p{
  position: absolute;
  top: 275px;
  left: 68px;
}
/*化学*/
.chemistry img {
  position: absolute;
  top: 215px;
  left: 160px;
}
.chemistry p{
  position: absolute;
  top: 275px;
  left: 175px;
}
/*生物*/
.biology img {
  position: absolute;
  top: 215px;
  left: 260px;
}
.biology p{
  position: absolute;
  top: 275px;
  left: 273px;
}
/*政治*/
.politics img {
  position: absolute;
  top: 335px;
  left: 55px;
}
.politics p{
  position: absolute;
  top: 395px;
  left: 68px;
}
/*历史*/
.history img {
  position: absolute;
  top: 335px;
  left: 160px;
}
.history p{
  position: absolute;
  top: 395px;
  left: 175px;
}
/*地理*/
.geography img {
  position: absolute;
  top: 335px;
  left: 260px;
}
.geography p{
  position: absolute;
  top: 395px;
  left: 273px;
}